.content {
    padding: 1.5rem 1.5rem 1rem 1rem;
    .label-header {
        font-size: 1.5rem;
    }
}

.content-non-left {
    padding: 1.5rem 1.5rem 1rem 0rem;
}

.content-margin-top {
    margin-top: 2rem;
}

.content-padding {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.section-content {
    font-size: 0.75rem;
}

.padding-left {
    padding-left: 1rem;
}