 /*jssor slider loading skin spin css*/
 .jssorl-009-spin {
     img {
         animation-name: jssorl-009-spin;
         animation-duration: 1.6s;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
     }
 }

 @keyframes jssorl-009-spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

 /*jssor slider arrow skin 106 css*/
 .jssora106 {
     display: block;
     position: absolute;
     cursor: pointer;

     .c {
         fill: #fff;
         opacity: .3;

         &:hover {
             opacity: .5;
         }
     }

     .a {
         fill: none;
         stroke: #000;
         stroke-width: 350;
         stroke-miterlimit: 10;

         &:hover .a {
             opacity: .8;
         }
     }

     .jssora106dn {
         .c {
             opacity: .2;
         }

         .a {
             opacity: 1;
         }
     }

     .jssora106ds {
         opacity: .3;
         pointer-events: none;
     }
 }

 /*jssor slider thumbnail skin 101 css*/
 .jssort101 {
     .p {
         position: absolute;
         top: 0;
         left: 0;
         box-sizing: border-box;
         background: #000;

         .cv {
             position: relative;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             border: 2px solid #000;
             box-sizing: border-box;
             z-index: 1;
         }

         &:hover {
             padding: 2px;

             .cv {
                 border: none;
                 border-color: transparent;
                 background-color: rgba(0, 0, 0, 6);
                 opacity: .35;
             }

             .pdn {
                 padding: 0;

                 .cv {
                     border: 2px solid #fff;
                     background: none;
                     opacity: .35;
                 }
             }

             .t {
                 opacity: 1;
             }
         }

         .pdn {
             .cv {
                 border: none;
                 border-color: transparent;
             }
         }
     }

     .a {
         fill: none;
         stroke: #fff;
         stroke-width: 400;
         stroke-miterlimit: 10;
         visibility: hidden;
     }

     .pav {
         .cv {
             border-color: #fff;
             opacity: .35;
         }

         .a {
             visibility: visible;
         }

         &:hover {
             .a {
                 visibility: visible;
             }
         }

         .t {
             opacity: 1;
         }
     }

     .t {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border: none;
         opacity: .6;
     }
 }

 .background-image {
     position: fixed;
     top: 0px;
     left: 0px;
     right: 0px;
     bottom: 0px;
     background: rgba(0, 0, 0, 0.9);
 }

 #jssor-content {
     width: 100%;
     height: 100%;
     display: none;
     z-index: 10001;
 }