.round {
  border-radius: 50%;
}

.img-radius {
  border-radius: 71px;
  -moz-border-radius: 71px;
  -webkit-border-radius: 71px;
}

.block-content {
  margin: 3rem 0rem 1rem;
}

.section-content {
  margin: 1rem;
}

.services {

 /*  img {
    cursor: pointer;
  }

  .thumbnail {
    // margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);

    &:hover {
      transform: translateY(-10px) scale(1.02);
    }

    &>img {
      cursor: pointer;
      display: block;
      max-width: 100%;
      height: auto;
    }
  } */
}